/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }
:global .Select {
  position: relative; }
  :global .Select, :global .Select div, :global .Select input, :global .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  :global .Select.is-disabled > .Select-control {
    background-color: #f9f9f9; }
    :global .Select.is-disabled > .Select-control:hover {
      box-shadow: none; }
  :global .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none; }
:global .Select-control {
  background-color: #053B43;
  border-color: rgba(43, 221, 234, 0.63) rgba(23, 214, 228, 0.63) rgba(18, 171, 182, 0.63);
  border-radius: 4px;
  border: 1px solid rgba(23, 214, 228, 0.63);
  color: #d8d8d8;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 34px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }
  :global .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }
  :global .Select-control .Select-input:focus {
    outline: none; }
:global .is-searchable.is-open > .Select-control {
  cursor: text; }
:global .is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #053B43;
  border-color: rgba(18, 171, 182, 0.63) rgba(23, 214, 228, 0.63) rgba(43, 221, 234, 0.63); }
  :global .is-open > .Select-control > .Select-arrow {
    border-color: transparent transparent rgba(23, 214, 228, 0.63);
    border-width: 0 5px 5px; }
:global .is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text; }
:global .is-focused:not(.is-open) > .Select-control {
  border-color: #08c #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade(#08c, 50%); }
:global .Select-placeholder,
:global .Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #d8d8d8;
  left: 0;
  line-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
:global .has-value.Select--single > .Select-control .Select-value .Select-value-label,
:global .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #d8d8d8; }
:global .has-value.Select--single > .Select-control .Select-value a.Select-value-label,
:global .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }
  :global .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, :global .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  :global .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  :global .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #08c;
    outline: none;
    text-decoration: underline; }
:global .Select-input {
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }
  :global .Select-input > input {
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    /* For IE 8 compatibility */
    padding: 7px 0 11px;
    /* For IE 8 compatibility */
    -webkit-appearance: none; }
    .is-focused :global .Select-input > input {
      cursor: text; }
:global .has-value.is-pseudo-focused .Select-input {
  opacity: 0; }
:global .Select-control:not(.is-searchable) > .Select-input {
  outline: none; }
:global .Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px; }
:global .Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgba(23, 214, 228, 0.63);
  border-right-color: #d8d8d8;
  display: inline-block;
  position: relative;
  vertical-align: middle; }
:global .Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px; }
  :global .Select-clear-zone:hover {
    color: #D0021B; }
:global .Select-clear {
  display: inline-block;
  font-size: 17px;
  line-height: 1; }
:global .Select--multi .Select-clear-zone {
  width: 16px; }
:global .Select--multi .Select-multi-value-wrapper {
  display: inline-block; }
:global .Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }
:global .Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px; }
:global .Select-arrow {
  border-color: rgba(23, 214, 228, 0.63) transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0; }
:global .is-open .Select-arrow,
:global .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: rgba(23, 214, 228, 0.63); }
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
:global .Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #053B43;
  border: 1px solid rgba(23, 214, 228, 0.63);
  border-top-color: rgba(11, 108, 118, 0.815);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch; }
:global .Select-menu {
  max-height: 198px;
  overflow-y: auto; }
:global .Select-option {
  box-sizing: border-box;
  background-color: #053B43;
  color: white;
  cursor: pointer;
  display: block;
  padding: 8px 10px; }
  :global .Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
  :global .Select-option.is-selected {
    background-color: #14908C;
    color: #d8d8d8; }
  :global .Select-option.is-focused {
    background-color: #14908C;
    color: #d8d8d8; }
  :global .Select-option.is-disabled {
    color: white;
    cursor: default; }
:global .Select-noresults {
  box-sizing: border-box;
  color: white;
  cursor: default;
  display: block;
  padding: 8px 10px; }
:global .Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }
:global .Select--multi.has-value .Select-input {
  margin-left: 5px; }
:global .Select--multi .Select-value {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #08c;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top; }
:global .Select--multi .Select-value-icon,
:global .Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }
:global .Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px; }
:global .Select--multi a.Select-value-label {
  color: #08c;
  cursor: pointer;
  text-decoration: none; }
  :global .Select--multi a.Select-value-label:hover {
    text-decoration: underline; }
:global .Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 1px 5px 3px; }
  :global .Select--multi .Select-value-icon:hover, :global .Select--multi .Select-value-icon:focus {
    background-color: #ddeff7;
    color: #0077b3; }
  :global .Select--multi .Select-value-icon:active {
    background-color: #c9e6f2; }
:global .Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333; }
:global .Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3; }
  :global .Select--multi.is-disabled .Select-value-icon:hover, :global .Select--multi.is-disabled .Select-value-icon:focus, :global .Select--multi.is-disabled .Select-value-icon:active {
    background-color: #fcfcfc; }
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }
.SearchForm {
  font-size: 12px; }

.SearchForm_advanceButton {
  float: right;
  margin-top: 10px;
  font-size: 10.5px;
  color: #d8d8d8;
  background: #3f1b5a;
  border: 1px solid #969696;
  border-radius: 3px; }

.SearchForm_advanceButton:hover {
  background: #6f2e9d; }

.SearchForm .SearchForm_pointingLabel {
  color: #d8d8d8;
  background-color: rgba(120, 52, 165, 0.61);
  box-shadow: 0 0 2px white;
  border: #7a7a7a; }

.SearchForm .SearchForm_pointingLabel:hover {
  cursor: default; }

/*# sourceMappingURL=SearchForm.stylesheet.css.map */
